SESSION_SECRET="loXS3ERa4zTfKtFMag/Pixz0

DLENES0GKVz5S2X788z/iLFz9af63NfTu6Yq1Urr

25WUOCNQBMIMQW/iSJKxxQ=="

TOKEN="MTI5OTUxNzM4MjgyNTYxMTI4NA.G_S

.u2x29pINcKQhj-M-ABrR10C96eXSL9NnY_006c"

CLIENT_ID="1299517382825611284"

OWNER_ID="830747048386494490"

PREFIX="?"

MONGO_URI="mongodb+srv://gagandeepdhawan

123: gagandeep200718@cenzo.qkwekrn.mongod

b.net/?retryWrites=true&w=majority"
